{
  "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "EVR API",
    "description": "OpenAPI Generator'i jaoks kohandatud EVR API kirjeldus. Kasuta seda juhul, kui spetsifikatsioonile vastava EVR API kirjeldusega ei õnnestu klienti genereerida.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://evr.veoseleht.ee"
    }
  ],
  "paths": {
    "/api/waybills/{waybillNumber}/timberreports": {
      "get": {
        "tags": [
          "TimberReports"
        ],
        "summary": "Veoselehe palkide mõõtmisraporti pärimine",
        "operationId": "TimberReports_GetTimberReport",
        "parameters": [
          {
            "name": "waybillNumber",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Tagastab numbrile vastava veoselehe palkide mõõtmisraporti.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimberReport"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "TimberReports"
        ],
        "summary": "Veoselehele palgi mõõtmisraporti lisamine",
        "description": "Lisab veoselehele palgi mõõtmisraporti. Mõõtmisraporti saab lisada \"koorem maas\" staatuses veoselehele sellele märgitud veose saaja või tema volitatud mõõtja.",
        "operationId": "TimberReports_UpsertTimberReport",
        "parameters": [
          {
            "name": "waybillNumber",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "Palkide mõõtmisraporti andmed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTimberReportRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimberReport"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills": {
      "post": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehe loomine",
        "description": "Loob veoselehe staatusega \"vedu alustatud\" (status: \"shipping\"). Veo alustaja peab olema ise märgitud veoselehele kas omanikuks või vedajaks. Kui metsamaterjali saaja on EVR'iga liitunud asutus, peab veoselehel märgitud tarnekoht kuuluma ka saaja asutusele. Toimingu õnnestumisel tagastatakse loodud veoselehe number.",
        "operationId": "Waybills_Post",
        "parameters": [
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "waybill",
          "description": "Veoselehe andmed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartWaybillRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Tagastab loodud veoselehe numbri",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehtede pärimine",
        "description": "Tagastab filtritele vastavad veoselehed. Veoselehti saavad pärida ainult nendega seotud asutused.",
        "operationId": "Waybills_Get",
        "parameters": [
          {
            "name": "created_after",
            "in": "query",
            "description": "Filtreerib veoselehed, mis on loodud hiljem või samal ajal. Kui 'created_after' ja 'created_before' on mõlemad määratud, peab nende vahe jääma 1 kuu piiresse.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filtreerib veoselehed, mis on loodud varem või samal ajal. Kui 'created_after' ja 'created_before' on mõlemad määratud, peab nende vahe jääma 1 kuu piiresse.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "last_modified_after",
            "in": "query",
            "description": "Filtreerib veoselehed, mis on muutunud pärast määratud aega. Kui 'last_modified_after' ja 'last_modified_before' on mõlemad määratud, peab nende vahe jääma 1 kuu piiresse.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "last_modified_before",
            "in": "query",
            "description": "Filtreerib veoselehed, mis on muutunud enne määratud aega. Kui 'last_modified_after' ja 'last_modified_before' on mõlemad määratud, peab nende vahe jääma 1 kuu piiresse.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtreerib veoselehed, mis vastavad määratud staatusele",
            "schema": {
              "nullable": true,
              "$ref": "#/components/schemas/WaybillStatus"
            },
            "x-position": 5
          },
          {
            "name": "owner_code",
            "in": "query",
            "description": "Filtreerib veoselehed, millel on sama omaniku kood",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "transporter_code",
            "in": "query",
            "description": "Filtreerib veoselehed, millel on sama transportija kood",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "receiver_code",
            "in": "query",
            "description": "Filtreerib veoselehed, millel on sama saaja kood",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "van_registration_number",
            "in": "query",
            "description": "Filtreerib veoselehed, millel on sama veoki registreerimisnumber (tõstutundlik)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "trailer_registration_number",
            "in": "query",
            "description": "Filtreerib veoselehed, millel on sama haagise registreerimisnumber (tõstutundlik)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "driver_id_code",
            "in": "query",
            "description": "Filtreerib veoselehed, millel on sama transportija autojuhi isikukood (tõstutundlik)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "place_of_delivery_code",
            "in": "query",
            "description": "Filtreerib veoselehed millel on sama tarnekoha kood (tõstutundlik)",
            "schema": {
              "type": "string"
            },
            "x-position": 12
          },
          {
            "name": "subcontractor_code",
            "in": "query",
            "description": "Filtreerib veoselehed millel on sama alltöövõtja kood (tõstutundlik)",
            "schema": {
              "type": "string"
            },
            "x-position": 13
          },
          {
            "name": "text",
            "in": "query",
            "description": "Vabateksti otsing.\nToetatud on järgmine süntaks:\n* ilma jutumärkideta tekst: sõnade vahel rakendatakse loogiline JA.\n* jutumärkides tekst: otsitakse jutumärkides olevat lauset.\n* OR: loogiline VÕI operaator sõnade vahel.\n* -: loogiline EITUS.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 14
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerib tulemused valitud välja järgi",
            "schema": {
              "nullable": true,
              "$ref": "#/components/schemas/WaybillSortField"
            },
            "x-position": 15
          },
          {
            "name": "page",
            "in": "query",
            "description": "Määrab tagastatava lehekülje",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 16
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Määrab lehekülje suuruse",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            },
            "x-position": 17
          },
          {
            "name": "includeLatestMeasurements",
            "in": "query",
            "description": "Kas lisada veoselehele viimase mõõtmise andmed (vaikimisi ei lisata)",
            "schema": {
              "type": "boolean"
            },
            "x-position": 18
          },
          {
            "name": "IncludeTimberReport",
            "in": "query",
            "description": "Kas lisada veoselehele palkide mõõtmisraporti (vaikimisi ei lisata)",
            "schema": {
              "type": "boolean"
            },
            "x-position": 19
          },
          {
            "name": "waybill_types",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Veoselehe tüüp (mets või saematerjal). Vaikimisi mets.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/WaybillType"
              }
            },
            "x-position": 20
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfWaybill"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}": {
      "get": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehe pärimine",
        "description": "Tagastab numbrile vastava veoselehe. Veoselehte saavad pärida ainult sellega seotud asutused.",
        "operationId": "Waybills_Get2",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Päritava veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "includeLatestMeasurements",
            "in": "query",
            "description": "Kas lisada veoselehele viimase mõõtmise andmed (vaikimisi ei lisata)",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "includeTimberReport",
            "in": "query",
            "description": "Kas lisada veoselehele palkide mõõtmisraporti (vaikimisi ei lisata)",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Waybill"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}/cancel": {
      "post": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehe tühistamine",
        "description": "Veoselehe saab tühistada veoselehe looja, omanik, saaja, vedaja ja alltöövõtja kuni veoseleht pole veel vastu võetud.",
        "operationId": "Waybills_Cancel",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelWaybillRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}/shipments": {
      "post": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehele veose lisamine",
        "description": "Lisab veoselehele uue veose. Veoseid saab lisada veoselehele vedaja ja veoselehe looja. Veoseid saab lisada ainult veos olevatele veoselehtedele.",
        "operationId": "Waybills_AddShipments",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentsToWaybillRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}/unload": {
      "post": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehel veo lõpetamine",
        "description": "Lõpetab veo veoselehel ja veoselehe staatuseks märgitakse \"koorem maas\" (status: \"unloaded\"). Vedu saab lõpetada veoselehe looja või vedaja ja seda ainult \"vedu alustatud\" (status: shipping) staatuses.",
        "operationId": "Waybills_Unload",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnloadWaybillRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}/finish": {
      "post": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehe lõpetamine",
        "description": "Lõpetab veoselehe ja veoselehe staatuseks märgitakse \"veoseleht lõpetatud\" (status: \"finished\"). Veoselehte saavad lõpetada veoselehele märgitud saaja ning volitatud mõõtja ja seda ainult \"koorem maas\" staatuses.",
        "operationId": "Waybills_Finish",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}/note": {
      "post": {
        "tags": [
          "Waybills"
        ],
        "summary": "Veoselehe märkuse lisamine",
        "description": "Lisab veoselehele uue märkuse. Olemasolevaid märkuseid ei muudeta. Märkust saavad lisada kõik veoselehega seotud osapooled (v.a volitatud vaatleja).",
        "operationId": "Waybills_AddNote",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWaybillNoteRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/waybills/{number}/measurements": {
      "post": {
        "tags": [
          "Measurements"
        ],
        "summary": "Veoselehele mõõtmisandmete lisamine",
        "description": "Lisab veoselehele mõõtmisandmed. Mõõtmisandmeid saab lisada \"koorem maas\" staatuses veoselehele sellele märgitud veose saaja või tema volitatud mõõtja. Mõõtmistulemusi on võimalik lisada koormapakkidena või lihtsalt sortimentide kogustena.",
        "operationId": "Measurements_Post",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "Mõõtmisandmed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMeasurementActRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "Measurements"
        ],
        "summary": "Veoselehe mõõtmisandmete pärimine",
        "description": "Tagastab veoselehega seotud mõõtmisandmed.",
        "operationId": "Measurements_Get",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Veoselehe number (tõstutundetu)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "Tagastatav lehekülg",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 2
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfMeasurementAct"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/placeofdeliveries": {
      "get": {
        "tags": [
          "PlaceOfDeliveries"
        ],
        "summary": "Tarnekohtade pärimine",
        "description": "Tagastab filtritele vastavad aktiivsed  tarnekohad ja kõik ettevõttega seotud tarnekohad.",
        "operationId": "PlaceOfDeliveries_List",
        "parameters": [
          {
            "name": "name_contains",
            "in": "query",
            "description": "Filtreerib tarnekohad, mille nimi sisaldab otsinguterminit",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "code_starts_with",
            "in": "query",
            "description": "Filtreerib tarnekohad, mille kood algab otsinguterminiga (tõstutundlik)",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "register_code",
            "in": "query",
            "description": "Filtreerib ettevõtte tarnekohad, mille registrikood vastab otsinguterminile",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "address",
            "in": "query",
            "description": "Vabatekstiline aadressi otsing.\nToetatud on järgmine süntaks:\n* ilma jutumärkideta tekst: sõnade vahel rakendatakse loogiline JA\n* jutumärkides tekst: otsitakse jutumärkides olevat lauset\n* OR: loogiline VÕI operaator sõnade vahel\n* -: loogiline EITUS",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "page",
            "in": "query",
            "description": "Tagastatav lehekülg",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 5
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Tagastatava lehekülje suurus",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            },
            "x-position": 6
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPlaceOfDelivery"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/placeofdeliveries/{code}": {
      "get": {
        "tags": [
          "PlaceOfDeliveries"
        ],
        "summary": "Tarnekoha pärimine",
        "description": "Tagastab koodile vastava tarnekoha. Pärida saab ainult enda asutusele kuuluvat tarnekohta.",
        "operationId": "PlaceOfDeliveries_Get",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Päritava tarnekoha kood (tõstutundlik)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOfDelivery"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "PlaceOfDeliveries"
        ],
        "summary": "Tarnekoha lisamine ja muutmine",
        "description": "Lisab uue tarnekoha. Kui antud koodiga tarnekoht juba eksisteerib, siis muudab olemasolevat tarnekohta. Loomisel märgitakse päringu tegija tarnekoha omanikuks.",
        "operationId": "PlaceOfDeliveries_AddOrUpdate",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Kood",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutPlaceOfDeliveryRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Registreeritud asutuste pärimine",
        "description": "Tagastab EVR-i aktiivsed asutused.",
        "operationId": "Organizations_List",
        "parameters": [
          {
            "name": "code_starts_with",
            "in": "query",
            "description": "Filtreerib asutused, mille registrikood algab otsinguterminiga",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "name_contains",
            "in": "query",
            "description": "Filtreerib asutused, mille nimi sisaldab otsinguterminit",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "description": "Tagastatav lehekülg",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 3
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Tagastatava lehekülje suurus",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            },
            "x-position": 4
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfOrganization"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Päringu teostaja enda organisatsiooni andmete pärimine",
        "description": "Tagastab asutuse andmed",
        "operationId": "Organizations_Me",
        "parameters": [
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/measurementunits": {
      "get": {
        "tags": [
          "MeasurementUnits"
        ],
        "summary": "Mõõtühikute pärimine",
        "description": "Tagastab EVR-i aktiivsed mõõtühikud.",
        "operationId": "MeasurementUnits_List",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Tagastatav lehekülg",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Tagastatava lehekülje suurus",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            },
            "x-position": 2
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfMeasurementUnit"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Sertifikaatide pärimine",
        "description": "Tagastab EVR-i aktiivsed sertifikaadid.",
        "operationId": "Certificates_List",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Tagastatav lehekülg",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Tagastatava lehekülje suurus",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            },
            "x-position": 2
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCertificate"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    },
    "/api/assortments": {
      "get": {
        "tags": [
          "Assortments"
        ],
        "summary": "Sortimentide pärimine",
        "description": "Tagastab EVR-i aktiivsed sortimendid.",
        "operationId": "Assortments_List",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Tagastatav lehekülg",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Tagastatava lehekülje suurus",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            },
            "x-position": 2
          },
          {
            "name": "EVR-LANGUAGE",
            "in": "header",
            "description": "Defineerib keele tagastatavatele veateadetele (toetatud on väärtused \"et\" eesti keele ning \"en\" inglise keele jaoks).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAssortment"
                }
              }
            }
          }
        },
        "security": [
          {
            "SecretApiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        },
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "TimberReport": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items"
        ],
        "properties": {
          "reportNumber": {
            "type": "string",
            "description": "Mõõtmisraporti number",
            "maxLength": 25,
            "minLength": 0,
            "nullable": true
          },
          "items": {
            "type": "array",
            "description": "Palgi mõõtmisraporti andmed",
            "items": {
              "$ref": "#/components/schemas/TimberReportItem"
            }
          },
          "reportDate": {
            "type": "string",
            "description": "Palgi mõõtmisraporti aeg",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TimberReportItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "woodType",
          "logAmount",
          "woodQuality",
          "priceGroupKey",
          "treeTopDiameterWithoutBark",
          "estimatedDiameter",
          "actualDiameter",
          "payableLength",
          "payableVolume"
        ],
        "properties": {
          "woodType": {
            "description": "Puuliigi kahetäheline lühend",
            "$ref": "#/components/schemas/WoodType"
          },
          "logAmount": {
            "type": "number",
            "description": "Palkide arv (tk)",
            "format": "decimal",
            "maximum": 1000000000.0,
            "minimum": 0.0
          },
          "woodQuality": {
            "description": "Kvaliteet",
            "$ref": "#/components/schemas/WoodQuality"
          },
          "defectCode": {
            "description": "Praagikood",
            "nullable": true,
            "$ref": "#/components/schemas/DefectCode"
          },
          "buyerProductCode": {
            "type": "string",
            "description": "Ostja kaubakood",
            "maxLength": 500,
            "nullable": true
          },
          "priceGroupKey": {
            "type": "string",
            "description": "Hinnagrupi võti",
            "maxLength": 50,
            "minLength": 1
          },
          "treeTopDiameterWithBark": {
            "type": "number",
            "description": "Ladva diameeter koorega - mm",
            "format": "decimal",
            "nullable": true
          },
          "treeTopDiameterWithoutBark": {
            "type": "number",
            "description": "Ladva diameeter kooreta - mm",
            "format": "decimal"
          },
          "snagDiameter": {
            "type": "number",
            "description": "Tüüka diameeter - cm",
            "format": "decimal",
            "nullable": true
          },
          "estimatedDiameter": {
            "type": "number",
            "description": "Arvestuslik diameeter – cm",
            "format": "decimal"
          },
          "actualDiameter": {
            "type": "integer",
            "description": "Tegelik mõõdetud pikkus – täissentimeetrites",
            "format": "int32"
          },
          "payableLength": {
            "type": "integer",
            "description": "Arvestuspikkus – täisdetsimeeter",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Hind",
            "format": "decimal",
            "nullable": true
          },
          "actualVolume": {
            "type": "number",
            "description": "Tegelik maht",
            "format": "decimal",
            "nullable": true
          },
          "payableVolume": {
            "type": "number",
            "description": "Arvestusmaht",
            "format": "decimal"
          },
          "measurerName": {
            "type": "string",
            "description": "Mõõtja nimi",
            "nullable": true
          }
        }
      },
      "WoodType": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "KU",
          "MA",
          "KS",
          "LM",
          "HB",
          "LV",
          "SA",
          "TA",
          "NU",
          "PN",
          "PA"
        ],
        "enum": [
          "ku",
          "ma",
          "ks",
          "lm",
          "hb",
          "lv",
          "sa",
          "ta",
          "nu",
          "pn",
          "pa"
        ]
      },
      "WoodQuality": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "EPlus",
          "E",
          "EA",
          "A",
          "BC",
          "Bc_II",
          "ABC",
          "ABCD",
          "D",
          "M",
          "F"
        ],
        "enum": [
          "ePlus",
          "e",
          "ea",
          "a",
          "bc",
          "bc_II",
          "abc",
          "abcd",
          "d",
          "m",
          "f"
        ]
      },
      "DefectCode": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "PEE",
          "JAM",
          "LYH",
          "PIK",
          "KAA",
          "MET",
          "MAD",
          "KOV",
          "OKS",
          "RIK",
          "YTO",
          "SIN",
          "PUT",
          "TAH",
          "TYY",
          "MUU",
          "VPL",
          "SYD",
          "LOH"
        ],
        "enum": [
          "pee",
          "jam",
          "lyh",
          "pik",
          "kaa",
          "met",
          "mad",
          "kov",
          "oks",
          "rik",
          "yto",
          "sin",
          "put",
          "tah",
          "tyy",
          "muu",
          "vpl",
          "syd",
          "loh"
        ]
      },
      "ValidationResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "AddTimberReportRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items"
        ],
        "properties": {
          "reportNumber": {
            "type": "string",
            "description": "Mõõtmisraporti number",
            "maxLength": 25,
            "nullable": true
          },
          "items": {
            "type": "array",
            "description": "Palgi mõõtmisraporti andmed",
            "items": {
              "$ref": "#/components/schemas/TimberReportItem"
            }
          },
          "reportDate": {
            "type": "string",
            "description": "Palgi mõõtmisraporti aeg",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "StartWaybillRequest": {
        "type": "object",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "sawn": "#/components/schemas/StartSawnWayBillRequest",
            "forest": "#/components/schemas/StartForestWaybillRequest"
          }
        },
        "x-abstract": true,
        "additionalProperties": false,
        "required": [
          "owner",
          "transport",
          "receiver",
          "placeOfDelivery",
          "departureTime",
          "submissionTime",
          "type"
        ],
        "properties": {
          "owner": {
            "description": "Metsamaterjali omaniku andmed",
            "$ref": "#/components/schemas/Owner"
          },
          "transport": {
            "description": "Metsamaterjali vedaja andmed",
            "$ref": "#/components/schemas/Transport"
          },
          "receiver": {
            "description": "Metsamaterjali saaja andmed",
            "$ref": "#/components/schemas/Receiver"
          },
          "placeOfDelivery": {
            "description": "Metsamaterjali veo tarnekoht [(EVR tarnekohad leiab siit)](#operation/PlaceOfDeliveries_List)",
            "$ref": "#/components/schemas/WaybillPlaceOfDelivery"
          },
          "comment": {
            "type": "string",
            "description": "Märkused/lisainfo",
            "maxLength": 400
          },
          "departureTime": {
            "type": "string",
            "description": "Väljasõidu aeg",
            "format": "date-time",
            "minLength": 1
          },
          "submissionTime": {
            "type": "string",
            "description": "Veoselehe EVR-i saatmise aeg",
            "format": "date-time",
            "minLength": 1
          },
          "preJourneyMileage": {
            "type": "integer",
            "description": "Ettesõidu kilometraaž",
            "format": "int32",
            "maximum": 100000.0,
            "minimum": 1.0,
            "nullable": true
          },
          "userCustomData": {
            "description": "Api kasutaja poolt kohandatavad andmed"
          },
          "mass": {
            "type": "number",
            "description": "Autorongi mass tonnides",
            "format": "decimal",
            "nullable": true
          },
          "transportOrder": {
            "type": "string",
            "description": "Veotellimuse number",
            "maxLength": 13
          },
          "submissionCoordinates": {
            "description": "Koordinaat",
            "nullable": true,
            "$ref": "#/components/schemas/Coordinates"
          },
          "viewers": {
            "type": "array",
            "description": "Veoselehe vaatlejad",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Viewer"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Owner": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "code",
          "address"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Näidis Metsafirma AS"
          },
          "code": {
            "type": "string",
            "description": "Isiku- või registrikood",
            "maxLength": 20,
            "minLength": 1,
            "example": 96040325
          },
          "email": {
            "type": "string",
            "description": "Email",
            "maxLength": 254,
            "nullable": true,
            "example": "näidis.metsafirma@example.com"
          },
          "address": {
            "description": "Aadress",
            "$ref": "#/components/schemas/Address"
          },
          "contactPerson": {
            "description": "Kontaktisiku andmed",
            "nullable": true,
            "$ref": "#/components/schemas/ContactPerson"
          },
          "representer": {
            "description": "Esindaja korral metsamaterjali esindaja andmed",
            "nullable": true,
            "$ref": "#/components/schemas/Representer"
          }
        }
      },
      "Address": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "countryCode",
          "county",
          "city",
          "street"
        ],
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Riigi kood",
            "maxLength": 3,
            "minLength": 3,
            "example": "EST"
          },
          "county": {
            "type": "string",
            "description": "Maakond",
            "maxLength": 100,
            "minLength": 1,
            "example": "Lääne-Viru maakond"
          },
          "city": {
            "type": "string",
            "description": "Linn/vald",
            "maxLength": 100,
            "minLength": 1,
            "example": "Rakvere linn"
          },
          "street": {
            "type": "string",
            "description": "Tänav/küla",
            "maxLength": 100,
            "minLength": 1,
            "example": "Metsa tee 5"
          },
          "zip": {
            "type": "string",
            "description": "Postikood",
            "maxLength": 15,
            "nullable": true,
            "example": 13013
          }
        }
      },
      "ContactPerson": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "Nimi",
            "maxLength": 200,
            "nullable": true,
            "example": "Ott Karu"
          },
          "phone": {
            "type": "string",
            "description": "Telefoninumber",
            "maxLength": 25,
            "nullable": true,
            "example": 55565443
          },
          "email": {
            "type": "string",
            "description": "Email",
            "maxLength": 254,
            "nullable": true,
            "example": "näidis.metsafirma@example.com"
          }
        }
      },
      "Representer": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "code",
          "address"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Näidis Metsafirma AS"
          },
          "code": {
            "type": "string",
            "description": "Isiku- või registrikood",
            "maxLength": 20,
            "minLength": 1,
            "example": 96040325
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "rightOfRepresentation": {
            "type": "string",
            "description": "Esindusõiguse alus",
            "maxLength": 200,
            "nullable": true,
            "example": "volituse alusel"
          },
          "email": {
            "type": "string",
            "description": "Email",
            "maxLength": 254,
            "nullable": true,
            "example": "näidis.esindaja@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Telefoninumber",
            "maxLength": 25,
            "nullable": true,
            "example": 56365163
          }
        }
      },
      "Transport": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "transporter",
          "driverName",
          "driverIdCode",
          "vanRegistrationNumber"
        ],
        "properties": {
          "transporter": {
            "description": "Transpordiettevõtte andmed",
            "$ref": "#/components/schemas/Transporter"
          },
          "driverName": {
            "type": "string",
            "description": "Autojuhi nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Uku Miku"
          },
          "driverIdCode": {
            "type": "string",
            "description": "Autojuhi isikukood",
            "maxLength": 11,
            "minLength": 1,
            "example": 39812146044
          },
          "driverPhone": {
            "type": "string",
            "description": "Autojuhi telefoninumber",
            "maxLength": 25,
            "nullable": true,
            "example": 53040628
          },
          "vanRegistrationNumber": {
            "type": "string",
            "description": "Veoki riiklik registreerimisnumber",
            "maxLength": 10,
            "minLength": 1,
            "example": "985TRE"
          },
          "trailerRegistrationNumber": {
            "type": "string",
            "description": "Haagise kasutamise korral haagise riiklik registreerimisnumber",
            "maxLength": 10,
            "nullable": true,
            "example": "98RR"
          },
          "subcontractor": {
            "description": "Alltöövõtja",
            "nullable": true,
            "$ref": "#/components/schemas/Subcontractor"
          }
        }
      },
      "Transporter": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "code"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Näidis Metsafirma AS"
          },
          "code": {
            "type": "string",
            "description": "Isiku- või registrikood",
            "maxLength": 20,
            "minLength": 1,
            "example": 96040325
          },
          "contactPerson": {
            "description": "Kontaktisiku andmed",
            "nullable": true,
            "$ref": "#/components/schemas/ContactPerson"
          }
        }
      },
      "Subcontractor": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Entity"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "contactPerson": {
                "description": "Kontaktisiku andmed",
                "nullable": true,
                "$ref": "#/components/schemas/ContactPerson"
              }
            }
          }
        ]
      },
      "Entity": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "required": [
          "name",
          "code"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Näidis Metsafirma AS"
          },
          "code": {
            "type": "string",
            "description": "Isiku- või registrikood",
            "maxLength": 20,
            "minLength": 1,
            "example": 96040325
          }
        }
      },
      "Receiver": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "code",
          "address"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Näidis Metsafirma AS"
          },
          "code": {
            "type": "string",
            "description": "Isiku- või registrikood",
            "maxLength": 20,
            "minLength": 1,
            "example": 96040325
          },
          "address": {
            "description": "Aadress",
            "$ref": "#/components/schemas/Address"
          },
          "contactPerson": {
            "description": "Kontaktisiku andmed",
            "nullable": true,
            "$ref": "#/components/schemas/ContactPerson"
          }
        }
      },
      "WaybillPlaceOfDelivery": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "address"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "EVR tarnekoha kood (kui on EVR-i lisatud tarnekoht)",
            "maxLength": 25,
            "nullable": true,
            "example": 15345679
          },
          "name": {
            "type": "string",
            "description": "Tarnekoha nimi",
            "maxLength": 200,
            "minLength": 1,
            "example": "Näidis Firma OÜ"
          },
          "coordinates": {
            "description": "Koordinaat",
            "nullable": true,
            "$ref": "#/components/schemas/Coordinates"
          },
          "address": {
            "description": "Tarnekoha aadress",
            "$ref": "#/components/schemas/Address"
          },
          "contactPerson": {
            "description": "Kontaktisiku andmed",
            "nullable": true,
            "$ref": "#/components/schemas/ContactPerson"
          },
          "nearAddress": {
            "type": "string",
            "description": "Lähiaadress",
            "maxLength": 150,
            "nullable": true,
            "example": "Kuusiku saeveski"
          },
          "userCustomData": {
            "description": "Api kasutaja poolt kohandatavad andmed"
          }
        }
      },
      "Coordinates": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "x",
          "y"
        ],
        "properties": {
          "x": {
            "type": "number",
            "description": "X koordinaat",
            "format": "decimal",
            "example": 26.322
          },
          "y": {
            "type": "number",
            "description": "Y koordinaat",
            "format": "decimal",
            "example": 58.322
          },
          "epsg": {
            "type": "integer",
            "description": "EPSG formaadis koordinaatsüsteemiväärtus (näide: 3301)",
            "format": "int32",
            "maximum": 99999.0,
            "minimum": 1000.0,
            "nullable": true,
            "example": 3301
          }
        }
      },
      "Viewer": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Registrikood",
            "maxLength": 20,
            "minLength": 1
          }
        }
      },
      "StartSawnWayBillRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StartWaybillRequest"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "shipments"
            ],
            "properties": {
              "shipments": {
                "type": "array",
                "description": "Lähetatud saematerjali veose andmed",
                "maxItems": 100,
                "items": {
                  "$ref": "#/components/schemas/SawnShipment"
                }
              }
            }
          }
        ]
      },
      "SawnShipment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "sawnWood",
          "packs"
        ],
        "properties": {
          "sawnWood": {
            "description": "Dimensioonid:\n          On 3 komplekti dimensioone (paksus * laius) numbritega (mitte nimedega), kuna kõik pooled ei kasuta üldist tegelik/nimisuurus loogikat.\n          Enamikul juhtudel kasutatakse ainult primaarsuurust.\n          Dimensiooni numbrite 1..3 tõlgendamine antakse poolte kätte vastavalt vajadusele.\n          Tavaliselt paksus < laius, kuid kui määratakse vastupidi, tähendab see, et paki sisene laud tuleb pöörata seisma kitsama serva peale.",
            "$ref": "#/components/schemas/SawnWood"
          },
          "packs": {
            "type": "array",
            "description": "Definitsiooni järgi on pakis ainult üks ristlõikemõõt, tamme jne puhul varieerimisega kasutame keskmist laiust või virtuaalseid alamkimpe.",
            "maxItems": 100,
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/SawnPack"
            }
          },
          "rowNumber": {
            "type": "integer",
            "description": "Saadetise rea või järjekorra number.",
            "format": "int32",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true
          },
          "eudrNumbers": {
            "type": "array",
            "description": "Euroopa Liidu puidu asukoha registreerimise numbrid",
            "maxItems": 25,
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/EudrNumber"
            }
          },
          "name": {
            "type": "string",
            "description": "Saadetise nimi, lühikirjeldus või partiinumber.",
            "maxLength": 200,
            "nullable": true
          },
          "sourceId": {
            "type": "string",
            "description": "Kauba lähetaja infosüsteemi identifikaator.",
            "maxLength": 50,
            "nullable": true
          },
          "targetId": {
            "type": "string",
            "description": "Kauba saaja infosüsteemi identifikaator.",
            "maxLength": 50,
            "nullable": true
          },
          "customData": {
            "description": "Api kasutaja poolt kohandatavad andmed.",
            "nullable": true
          }
        }
      },
      "SawnWood": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "species",
          "thickness",
          "width"
        ],
        "properties": {
          "species": {
            "type": "array",
            "description": "Puiduliigid.",
            "maxItems": 25,
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Species"
            }
          },
          "grade": {
            "description": "Kvaliteediklass määratleb puidu omadused peale liigi.\n  Konkreetselt:\n  Oksad - nt. maksimaalne suurus, arv pindalaühiku kohta, asukoht (külg/serv)\n  Veavead - nt. lõhed, kihtlõhed, sinistus, mädanik, väärdus, ussiauk, paindumine, välispind, värvimuutused - kaasa arvatud maksimaalsed lubatud hälbed\n  Koostis - nt. Täispuit / Sõrmliited / Servliited / CLT (märkus: niiskus/kuivatamise atribuudid on Töötlus->Kuivatamise all).",
            "nullable": true,
            "$ref": "#/components/schemas/Grade"
          },
          "thickness": {
            "type": "number",
            "description": "Väärtus millimeetrites (mm). Vaata loogikat Puiduklassi dokumentatsioonis dimensioonide jaotises.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0
          },
          "width": {
            "type": "number",
            "description": "Väärtus millimeetrites (mm). Vaata loogikat Puiduklassi dokumentatsioonis dimensioonide jaotises.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0
          },
          "thickness2": {
            "type": "number",
            "description": "Väärtus millimeetrites (mm). Vaata loogikat Puiduklassi dokumentatsioonis dimensioonide jaotises. Tuleb täita, kui width2 on määratud.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true
          },
          "width2": {
            "type": "number",
            "description": "Väärtus millimeetrites (mm). Vaata loogikat Puiduklassi dokumentatsioonis dimensioonide jaotises. Tuleb täita, kui thickness2 on määratud.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true
          },
          "thickness3": {
            "type": "number",
            "description": "Väärtus millimeetrites (mm). Vaata loogikat Puiduklassi dokumentatsioonis dimensioonide jaotises. Tuleb täita, kui width3 on määratud.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true
          },
          "width3": {
            "type": "number",
            "description": "Väärtus millimeetrites (mm). Vaata loogikat Puiduklassi dokumentatsioonis dimensioonide jaotises. Tuleb täita, kui thickness3 on määratud.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true
          },
          "ppp": {
            "type": "integer",
            "description": "Tükki paki kohta (TPK) ei tohi täita, kui on olemas täpne pakendi kirjeldus koos pakipikkuse atribuudiga.",
            "format": "int32",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true
          },
          "treatment": {
            "description": "Töötlus viitab puidu omaduste kogumile, mis võivad muutuda paki \"eluea\" jooksul, st. kui pakinumber on sama. Töötluse olem (enamasti) viitab 4 komponendi kombinatsioonidele.",
            "nullable": true,
            "$ref": "#/components/schemas/Treatment"
          },
          "profile": {
            "description": "Profiil on kujundlikult öeldes tüki (laua) 2D-pilt, kui vaadata seda otsast; saematerjali puhul on see alati ristkülik, nt. terrassilaua puhul on see ristkülik soontega ühel küljel. Vaata ka kuju kirjeldust.",
            "nullable": true,
            "$ref": "#/components/schemas/Profile"
          },
          "minibundle": {
            "description": "Määrab, kuidas tükke (laudu) minikimpudesse siduda.",
            "nullable": true,
            "$ref": "#/components/schemas/Minibundle"
          },
          "epdGwp": {
            "type": "number",
            "description": "Toote keskkonnadeklaratsioonid (TKD) mõõdavad globaalse soojenemise potentsiaali (GSP) kuupmeetri (m³) kohta.",
            "format": "decimal",
            "maximum": 1000000.0,
            "minimum": 0.0,
            "nullable": true,
            "example": 15.6
          },
          "tolerances": {
            "description": "Lubatud mõõtmete või kuju variatsioonid.",
            "nullable": true,
            "$ref": "#/components/schemas/Tolerances"
          },
          "packing": {
            "description": "Määrab, kuidas tükid (lauad) pakitakse kokku paki moodustamiseks.",
            "nullable": true,
            "$ref": "#/components/schemas/Packing"
          },
          "notes": {
            "type": "string",
            "description": "Lisamärkused.",
            "maxLength": 400,
            "nullable": true
          },
          "sourceId": {
            "type": "string",
            "description": "Kauba lähetaja infosüsteemi identifikaator.",
            "maxLength": 50,
            "nullable": true
          },
          "targetId": {
            "type": "string",
            "description": "Kauba saaja infosüsteemi identifikaator.",
            "maxLength": 50,
            "nullable": true
          },
          "customData": {
            "description": "Api kasutaja poolt kohandatavad andmed.",
            "nullable": true
          },
          "articleID": {
            "type": "string",
            "description": "Toote identifikaator, nagu partnerite vahel kokku lepitud. See võib dubleerida osa teist atribuutidest olevat teavet või kirjeldada kaupu täielikult - sellisel juhul võivad kõik teised atribuudid olla tühjad.",
            "maxLength": 200,
            "nullable": true,
            "example": "A888"
          },
          "articleName": {
            "type": "string",
            "description": "Seda tuleks täita ainult siis, kui pooled on kokku leppinud artiklite sisestamises jooksvalt sihtkoha süsteemi API kaudu.",
            "maxLength": 200,
            "nullable": true,
            "example": "Cover Board 88"
          },
          "ean": {
            "type": "string",
            "description": "Rahvusvaheline artiklite number (tuntud ka kui Euroopa artiklite number või EAN) GS1 organisatsioonilt. API-d võivad väärtust piirata 13-kohalise piiranguga.",
            "maxLength": 200,
            "nullable": true,
            "example": 878020137961
          },
          "ean2": {
            "type": "string",
            "description": "Kasutatakse, kui toodet nt. saadetakse otse kliendi kliendile, kes müüb neid edasi oma tootena erineva EAN-i all.",
            "maxLength": 200,
            "nullable": true,
            "example": 978020137962
          },
          "certificateStatement": {
            "description": "Sertifikaadi avaldus",
            "nullable": true,
            "$ref": "#/components/schemas/CertificateStatement"
          }
        }
      },
      "Species": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "Afrormosia",
          "Afzelia",
          "Agba",
          "AlaskanCedar",
          "Alder",
          "AlpineFir",
          "AmabilisFir",
          "Amapa",
          "Andoung",
          "Anegre",
          "Antiaris",
          "Ash",
          "Aspen",
          "AspenPolar",
          "AustrianSpruce",
          "Avodire",
          "Ayan",
          "AyousAko",
          "BalsamFir",
          "BalsamPolar",
          "Bamboo",
          "Basswood",
          "Beech",
          "Birch",
          "BirdseyeMaple",
          "BlackCherry",
          "BlackCottonwood",
          "BlackGuarea",
          "BlackSpruce",
          "Bubinga",
          "CaliforniaRedFir",
          "CaribeanPine",
          "CarolinaPine",
          "Cedar",
          "Ceiba",
          "CembraPine",
          "Cherry",
          "Chestnut",
          "CoastSpecies",
          "Cypress",
          "Danta",
          "DouglasFir",
          "Douka",
          "EasternCottonwood",
          "EasternHemlock",
          "EasternSoftwoods",
          "EasternSpruce",
          "EasternWhiteCedar",
          "EasternWhitePine",
          "Elliotti",
          "EngelmanSpruce",
          "Eucalyptus",
          "EuropeanLarch",
          "Exotic",
          "FigureSycamore",
          "Fir",
          "Frake",
          "Framire",
          "Gaboon",
          "GrandFir",
          "GreyElm",
          "HardMaple",
          "Hemlock",
          "Hornbeam",
          "IdahoWhitePine",
          "Ilomba",
          "Imbira",
          "IncCedar",
          "InlRedCedar",
          "Ipe",
          "Iroko",
          "JackPine",
          "Kaya",
          "Koto",
          "Larch",
          "LarricioPine",
          "Lauan",
          "Limba",
          "Locust",
          "LodgepolePine",
          "Mahogany",
          "Macore",
          "Mansonia",
          "Maple",
          "MaritimePine",
          "Meranti",
          "Merbeau",
          "MexicanPine",
          "MixedSoftwood",
          "MixedSYP",
          "MixedTropicalHardwood",
          "MntnHemlock",
          "Niangon",
          "NobelFir",
          "NorwaySpruce",
          "NorthernAspen",
          "NorthernPine",
          "NorthernSpecies",
          "Oak",
          "Okume",
          "OliverAsh",
          "Olon",
          "Omu",
          "OregonPine",
          "Ozigo",
          "PacificCoastHemlock",
          "PacificSilverFir",
          "Padauk",
          "PaoAmarello",
          "Pear",
          "Pearwood",
          "Pine",
          "Plane",
          "PlywoodComposite",
          "PonderosaPine",
          "PrtOrfCed",
          "Poucouli",
          "Purpleheart",
          "Radiata",
          "RadiataPine",
          "RedCedar",
          "RedElm",
          "RedOak",
          "RedPine",
          "RedSpruce",
          "RedWhitewood",
          "Redwood",
          "RioRosewood",
          "Rosewood",
          "SandPine",
          "SantosRosewood",
          "Sapelle",
          "Satinwood",
          "ScotsPine",
          "SilkyOak",
          "SitkaSpruce",
          "SouthernPine",
          "SouthernPondPine",
          "SouthernSprucePine",
          "SPF",
          "Spruce",
          "SugarPine",
          "SwissPear",
          "SwissStonePine",
          "Sycamore",
          "SYP",
          "Taeda",
          "Tamarack",
          "Tauari",
          "Teak",
          "Tiama",
          "Tineo",
          "TropicalOliver",
          "Utile",
          "VirginiaPine",
          "Walnut",
          "Wenge",
          "Wey",
          "WesternCedars",
          "WesternHemlock",
          "WesternRedCedar",
          "WesternWhitePine",
          "WesternWhiteSpruce",
          "WesternWoods",
          "WhitebarkPine",
          "WhiteFir",
          "WhiteOak",
          "WhiteSpruce",
          "WhiteWood",
          "YellowCedar",
          "YellowCypress",
          "YellowPoplar",
          "Zebrano"
        ],
        "enum": [
          "afrormosia",
          "afzelia",
          "agba",
          "alaskanCedar",
          "alder",
          "alpineFir",
          "amabilisFir",
          "amapa",
          "andoung",
          "anegre",
          "antiaris",
          "ash",
          "aspen",
          "aspenPolar",
          "austrianSpruce",
          "avodire",
          "ayan",
          "ayousAko",
          "balsamFir",
          "balsamPolar",
          "bamboo",
          "basswood",
          "beech",
          "birch",
          "birdseyeMaple",
          "blackCherry",
          "blackCottonwood",
          "blackGuarea",
          "blackSpruce",
          "bubinga",
          "californiaRedFir",
          "caribeanPine",
          "carolinaPine",
          "cedar",
          "ceiba",
          "cembraPine",
          "cherry",
          "chestnut",
          "coastSpecies",
          "cypress",
          "danta",
          "douglasFir",
          "douka",
          "easternCottonwood",
          "easternHemlock",
          "easternSoftwoods",
          "easternSpruce",
          "easternWhiteCedar",
          "easternWhitePine",
          "elliotti",
          "engelmanSpruce",
          "eucalyptus",
          "europeanLarch",
          "exotic",
          "figureSycamore",
          "fir",
          "frake",
          "framire",
          "gaboon",
          "grandFir",
          "greyElm",
          "hardMaple",
          "hemlock",
          "hornbeam",
          "idahoWhitePine",
          "ilomba",
          "imbira",
          "incCedar",
          "inlRedCedar",
          "ipe",
          "iroko",
          "jackPine",
          "kaya",
          "koto",
          "larch",
          "larricioPine",
          "lauan",
          "limba",
          "locust",
          "lodgepolePine",
          "mahogany",
          "macore",
          "mansonia",
          "maple",
          "maritimePine",
          "meranti",
          "merbeau",
          "mexicanPine",
          "mixedSoftwood",
          "mixedSYP",
          "mixedTropicalHardwood",
          "mntnHemlock",
          "niangon",
          "nobelFir",
          "norwaySpruce",
          "northernAspen",
          "northernPine",
          "northernSpecies",
          "oak",
          "okume",
          "oliverAsh",
          "olon",
          "omu",
          "oregonPine",
          "ozigo",
          "pacificCoastHemlock",
          "pacificSilverFir",
          "padauk",
          "paoAmarello",
          "pear",
          "pearwood",
          "pine",
          "plane",
          "plywoodComposite",
          "ponderosaPine",
          "prtOrfCed",
          "poucouli",
          "purpleheart",
          "radiata",
          "radiataPine",
          "redCedar",
          "redElm",
          "redOak",
          "redPine",
          "redSpruce",
          "redWhitewood",
          "redwood",
          "rioRosewood",
          "rosewood",
          "sandPine",
          "santosRosewood",
          "sapelle",
          "satinwood",
          "scotsPine",
          "silkyOak",
          "sitkaSpruce",
          "southernPine",
          "southernPondPine",
          "southernSprucePine",
          "spf",
          "spruce",
          "sugarPine",
          "swissPear",
          "swissStonePine",
          "sycamore",
          "syp",
          "taeda",
          "tamarack",
          "tauari",
          "teak",
          "tiama",
          "tineo",
          "tropicalOliver",
          "utile",
          "virginiaPine",
          "walnut",
          "wenge",
          "wey",
          "westernCedars",
          "westernHemlock",
          "westernRedCedar",
          "westernWhitePine",
          "westernWhiteSpruce",
          "westernWoods",
          "whitebarkPine",
          "whiteFir",
          "whiteOak",
          "whiteSpruce",
          "whiteWood",
          "yellowCedar",
          "yellowCypress",
          "yellowPoplar",
          "zebrano"
        ]
      },
      "Grade": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "Nime/koodi tähendus on poolte vahel eelnevalt kokku lepitud. Soovitatav kasutada vastava turu standardset märkimist või võimalikult lähedast.",
            "maxLength": 200,
            "nullable": true,
            "example": "B"
          },
          "codeName": {
            "type": "string",
            "description": "Võib kasutada lisaks nime atribuudile, et muuta vastendamine lihtsamaks - see on asjakohane, kui saatev pool (API-le) ei saa anda numbrilist ID-d või GUID atribuuti.",
            "maxLength": 200,
            "nullable": true,
            "example": "B"
          },
          "clearFacesCount": {
            "type": "integer",
            "description": "Laiemate külgede arv ilma oksadeta. Väärtus võib olla 1 või 2.",
            "format": "int32",
            "maximum": 2.0,
            "minimum": 1.0,
            "nullable": true
          },
          "clearEdgesCount": {
            "type": "integer",
            "description": "Kitsamate külgede arv ilma oksadeta. Väärtus võib olla 1 või 2.",
            "format": "int32",
            "maximum": 2.0,
            "minimum": 1.0,
            "nullable": true
          },
          "clearSidesType": {
            "type": "string",
            "description": "Näitab \"kui puhas\" peab pind olema, nt. mõnikord on lubatud täisoksad alla 3mm läbimõõduga. Väärtused peavad olema poolte vahel eelnevalt kokku lepitud.",
            "maxLength": 200,
            "nullable": true,
            "example": "K3"
          },
          "fjVertical": {
            "type": "boolean",
            "description": "Kasutatakse vertikaalseid sõrmliiteid.",
            "nullable": true
          },
[...]
