pip==20.0.2
bump2version==1.0.0
wheel==0.34.2
watchdog==0.10.1
flake8==3.7.9
tox==3.14.3
coverage==5.1
Sphinx==2.3.1
twine<2  # twine does not support Python 3.5 from version 2.0.0
Click>=7.0
python-dateutil>=2.8.1
pytest>=5.3.0
pytest-runner==5.2
